<table class="table">
	<tr>
		<td>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</td>
	</tr>

	<tr>
		<td>
			<%= f.label :content %> 
			<%= f.text_area :content %>
		</td>
	</tr>
</table>