<div class="container">
<h1>New post</h1>
	<%= form_for @issue, url: issues_path do |f| %>
		<%= render :partial => 'form', :locals => { :f => f } %>
		<%= f.submit class: "btn btn-default" %>
	<%end %>

	<%= link_to "Home", issues_path, class: "btn btn-default" %>
</div>
